{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<section class="about section" id="about">
    <h2 class="section_title">About Me</h2>
    <span class="section_subtitle">My introduction</span>

    <div class="about_container continer grid">
        <img src="#" alt="#" class="about_img">
    </div>

    <div class="about_data">
        <p class="about_description">I like to coding.And now i learning about web developing this is my portfolio website by using HTML CSS JavaScript Python and SQL
        </p>
        <div class="about_info">
            <span class="about-title">02+</span>
            <span class="about_info-name">Years <br> experience</span>
        </div>
        <div class="about_info">
            <span class="about-title">03+</span>
            <span class="about_info-name">Completed <br> project</span>
        </div>
        <div class="about_info">
            <span class="about-title">No</span>
            <span class="about_info-name">Completed <br> work</span>
        </div>
    </div>
    <div class="about_buttons">
        <a download="#" href="#" class="button button--flex">
            Download CV<i class="uil uil-download-alt button_icon"></i>
        </a>
    </div>
</section>
{% endblock %}